* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: white;
    background-image: url(../images/nicole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace, sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.header__brand {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header__brand-logo {
    margin: 1.6rem;
    width: 10%;
}

.header__brand-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 1.6rem;
    text-transform: uppercase;
    width: 1px;
}

.header__description {
    background-color: rgba(233, 216, 195, 0.74);
    border-radius: 5px;
    text-align: right;
    margin: 2.4rem;
    padding: 1.6rem;
    padding-left: 25%;
    position: relative;
        top: 250px;
}

.header__description-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    text-shadow: 1px 1px 5px black;
}

.header__description-subtitle {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.header__description-text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-shadow: 1px 1px 5px black;
}

.header__nav {
    border-radius: 5px;
    height: 2.4rem;
    margin: 2.4rem auto;
}

.header__nav-item {
    display: inline;
    margin: 1rem;

}

.header__nav-link {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
    line-height: 2.4;
}